## Database variables
## postgresql+psycopg2://user:password@host:port/dbname[?key=value&key=value...]
## https://docs.sqlalchemy.org/en/13/dialects/postgresql.html#module-sqlalchemy.dialects.postgresql.psycopg2

## The entire database URL
GKCORE_DB_URL=
## Database name
GKCORE_DB_NAME=
## Database username
GKCORE_DB_USER=
## Database user password
GKCORE_DB_PASSWORD=
## Databse host
GKCORE_DB_HOST=
## Database port
GKCORE_DB_PORT=
